
@model Tx1.Models.Sanpham
@{
    ViewBag.Title = "Output";
}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
        padding: 10px 20px 10px 20px;
    }
</style>
<h2>Sản phẩm vừa nhập</h2>

<table>
    <tr>
        <th>masp</th>
        <th>hangsx</th>
        <th>tensp</th>
        <th>soluong</th>
        <th>giatien</th>
    </tr>
    <tr>
        <td>@Model.masp</td>
        <td>@Model.hangsx</td>
        <td>@Model.tensp</td>
        <td>@Model.soluong</td>
        <td>@Model.giatien</td>
    </tr>
</table>

